<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="mb-0">Submit a Video</h2>
                    </div>
                    <div class="card-body">
                        <p class="lead mb-4">Share your favorite technical videos with the community. Once
                            submitted, your tutorial will be reviewed by an admin before being published.</p>

                        <th:block th:insert="~{partials/action-status}"/>

                        <form id="ytSearchForm" method="get" class="pb-3">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <div class="col-md-6">
                                <label for="videoId" class="form-label"><strong>Search</strong></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="videoId" name="videoId"
                                           placeholder="Search by YouTube video Id">
                                    <button class="btn btn-primary" type="submit"
                                            th:hx-get="@{/videos/youtube/search}"
                                            th:hx-include="${'#ytSearchForm'}"
                                            th:hx-target="${'#video-form'}"
                                            th:hx-swap="outerHTML"
                                    >Search</button>
                                </div>
                            </div>
                        </form>
                        <th:block th:insert="~{partials/create-video-form}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
