<form th:method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-sm btn-outline-danger favorite-btn"
            sec:authorize="isAuthenticated()"
            th:hx-post="@{/videos/{id}/favorite(id=${video.id})}"
            th:hx-target="'closest form'"
            th:hx-swap="'outerHTML'">
        <i class="far fa-heart"></i>
    </button>

    <button type="button" class="btn btn-sm btn-outline-danger favorite-btn"
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Login to favourite"
            sec:authorize="!isAuthenticated()">
        <i class="far fa-heart"></i>
    </button>
</form>
