<!DOCTYPE html>
<html lang="en"
      xmlns:hx="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>TechTube</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.7.2/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">
            TechTube
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login"> Login </a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/register"> Register </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/posts/new" th:href="@{/posts/new}">
                        Submit Video
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/admin/pending-posts" th:href="@{/admin/pending-posts}">
                        Pending Submissions
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="pt-5">
    <div layout:fragment="content">
        <!-- Your Page Content Here -->
    </div>
</div>

<script src="/webjars/jquery/3.7.1/jquery.js"></script>
<script src="/webjars/bootstrap/5.3.5/js/bootstrap.bundle.js"></script>
<script src="/webjars/htmx.org/2.0.4/dist/htmx.min.js"></script>
<div layout:fragment="pageScripts">
</div>
</body>
</html>